#navbar-buttons{
    font-size: large;
}

#search-button{
    color: white;
    border-color: white;
}

#login-button{
    color: white;
}

#cart-img{
    height: 38px;
}

#login-img{
    height: 40px;
}

