<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <style>
   .container {
            max-width: 80%;
            margin: 40px auto;
            text-align: center;
        }

        .container h1 {
            text-align: center;
        }

        .container p {
            text-align: center;
        }
    </style>
</head>

<%- include('../partials/header') %>
<%- include('../partials/main_menu') %>
<body>

    <div class="container">
        <div class="row mt-5">
            <h1>About Us</h1>
            <p>
                Welcome to our clothing website, where fashion meets convenience! Our platform offers 
                a curated selection of your favorite items, bringing you a wide array of unique and 
                trendy pieces from various brands and designers. Similar to popular platforms that cater 
                to fashion enthusiasts, we strive to provide an unparalleled shopping experience. 
                Whether you're searching for vintage gems, streetwear classics, or high-end fashion, 
                our user-friendly interface makes it effortless to browse and purchase your most coveted 
                garments. With a passion for fashion and a commitment to excellence, we aim to be your go-to 
                destination for all things apparel. Discover your personal style and express your individuality 
                through the clothing you love as you explore our diverse collection. Thank you for choosing us 
                as your ultimate fashion companion!


            </p>
        </div>
    </div>

    <%- include ('../partials/footer') %>

</body>

</html>

