<%- include ('../partials/header') %> 
<%- include ('../partials/secondary_menu') %>

<html>
    <body>
        <form action='/add' method='POST' id="fileInput">
            <div class="form-group">
              <label for="exampleFormControlFile1">Item URL</label>
              <input type="text" class="form-control" id="exampleFormControlFile1" name="image_url" placeholder="https://image.com">
            </div>
            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="ItemName" class="form-control" id="ItemName" name='name' aria-describedby="ItemName" placeholder="Shirt...">
            </div>
            <div class="form-group">
                <label for="itemDescription">Item Description</label>
                <input type="Item Description" class="form-control" name='description' id="itemDescription" placeholder="Item Description">
            </div>
            <div class="form-group">
                <label for="price">Item Size</label>
                <input type="Item Size" class="form-control" name='size' id="size" placeholder="Item Size">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="price" class="form-control" id="price" name='price' aria-describedby="price" placeholder="Price">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>

<%- include ('../partials/footer') %>