<%- include ('../partials/header') %> 
<%- include ('../partials/secondary_menu') %>
<div class="container" id="checkout-container">
    <H1 id="checkout-header">Thank You For Your Purchase</H1>
    <body id="checkout-row">
        The seller will reach out with further details regarding your order.</body>
    
</div>




<%- include ('../partials/footer') %>