<%- include('../partials/header') %>
<%- include('../partials/main_menu') %>

    <div class="container" id="contact-page">
        <div class="row mt-5">
            <h1 id="contact-header">Contact Us</h1>
            <p id="contact-info">
                You can contact us using the following methods:
                Email: customerservice@gmai.com<br>
                Phone: 800-700-6000<br>
                Address: 123 Main Street Boulder CO 80303
            </p>
            <!-- Add the image here -->
            <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/boulder/DJI_0842_7d6b41d5-5775-4f3b-a3e7-3c1f635abe3f.jpg" alt="Contact Image" class="contact-image" id="contact-image">
        </div>
    </div>

<%- include('../partials/footer') %>





