<%- include ('../partials/header') %> 
<%- include ('../partials/secondary_menu') %>

      <div id="signUp-page">
        <div class="background" id="signUp-background">
          <div class="shape" id="signUp-shape"></div>
          <div class="shape" id="signUp-shape"></div>
        </div>
        <form action="/signUp" method="POST" id="signUp-form">
          <h3 id="signUp-text">Sign Up Here</h3>
  
          <label for="email" id="signUp-text">E-mail</label>
          <input type="text" name="email" placeholder="Email" id="signUp-input">
  
          <label for="username" id="signUp-text">Username</label>
          <input type="username" name="username" placeholder="username" id="signUp-input">
  
          <label for="password" id="signUp-text">Password</label>
          <input type="password" name="password" placeholder="Password" id="signUp-input">
  
          <button id="signUp-button">Sign Up</button>
        </form>
      </div>

<%- include ('../partials/footer') %>