body{
    background-color: #080710;
}

#navbar-buttons{
    font-size: large;
}

#search-button{
    color: white;
    border-color: white;
}

#login-button{
    color: white;
}

#search-button:hover{
    background-color: blue;
}

#cart-img{
    height: 38px;
}

#login-img{
    height: 40px;
}

#footer-text{
    color: white;
    opacity: .5;
}

#footer-text:hover{
    text-decoration: none;
    opacity: 1;
    color: lightgrey;
}

#favorite-star:hover{
    background-color: gold;
}

#user-form{

    padding-top: 50px;
    background-color: #080710;
    color: rgb(255, 255, 255);

}

#user-container{

    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);

}

#cart_container{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,0.13);
    border-collapse: separate;
}

#checkout-container{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,0.13);
    border-collapse: separate;
}

#cart-item-img{
    height: 60px;
}

#cart-item-img:hover{
    opacity: 0.5;
}

#checkout-container{
    margin-top: 100px; 
}

#checkout-header{
    color: rgb(255, 255, 255);
    text-size-adjust: 55pt;
}

#checkout-row{
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    align-items: center;
    margin: auto;
}

#fileInput{

    padding-top: 100px;
    padding-left: 50px;
    padding-right: 200px;
    color: rgb(255, 255, 255);

}

#fileInput input {

    width: fit-content;

}

#contact-page{
    max-width: 80%;
    margin: 40px auto; 
    margin-top: 100px;
    text-align: center;
    color: white;
}

#contact-header{
    text-align: center;
}

#contact-info{
    text-align: center;
}

#contact-image{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}