<!-- Footer -->
<div class="fixed-bottom bg-dark">
    <div class="row mb-1 mt-1 ml-2">
        <a class="mr-1 ml-1" href="#" id="footer-text">
            <h5>About Us</h5>
        </a>
        <a class="mr-1 ml-1" href="#" id="footer-text">
            <h5>Contact Us</h5>
        </a>
    </div>
</div>

</body>
</html>